@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Rubik&display=swap");
.index__logo {
  width: 200px;
  height: 70px;
}

.nav-superior {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.nav-superior .d-flex {
  width: 300px;
  height: 40px;
  column-gap: 5px;
  margin-right: 60px;
}
.nav-superior #productos {
  z-index: 97;
}

.nav {
  justify-content: space-between;
  align-items: center;
}
.nav .nav-link {
  font-family: "Nunito", sans-serif;
  color: beige;
}

#carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  column-gap: 10px;
}
#carrito p {
  color: black;
}
#carrito div.productoCarrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carrito {
  position: fixed;
  z-index: 98;
}
.carrito .offcanvas {
  overflow-y: auto;
  width: 500px;
  align-items: center;
}
.carrito .img-productos-carrito {
  width: 50px;
  height: 60px;
}
.carrito .offcanvas p {
  color: black;
  justify-content: space-between;
}

.footer {
  background-color: darkgoldenrod;
  display: flex;
}
.footer .footer__elementos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin: 50px;
}
.footer .footer__elementos--l {
  display: flex;
  flex-direction: column;
}
.footer .ubicacion {
  width: 150px;
  height: 100px;
}

.hall__footer {
  background-color: rgb(46, 16, 46);
  display: flexbox;
  position: relative;
  text-align: center;
  align-content: flex-end;
}

.container__cards {
  display: grid;
  justify-items: center;
  margin-bottom: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 50px;
}

.card {
  width: 185px;
  background-color: rgb(46, 16, 46);
  color: beige;
  /* Note that you only needs to edit the config to customize the button! */
}
.card h5 {
  display: grid;
  text-align: center;
  margin-top: 10px;
}
.card p.precio {
  color: beige;
  display: grid;
  justify-items: center;
}
.card .card-img-top {
  width: 185px;
  height: 250px;
}
.card .card-body {
  font-family: "Nunito", sans-serif;
  color: beige;
  background-color: rgb(46, 16, 46);
  text-align: center;
}
.card .list-group {
  text-align: center;
}
.card .btnAgregar {
  /* Config start */
  --plus_sideLength: 2.5rem;
  --plus_topRightTriangleSideLength: 0.9rem;
  /* Config end */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: var(--plus_sideLength);
  height: var(--plus_sideLength);
  background-color: #000000;
  overflow: hidden;
}
.card .btnAgregar::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
  border-style: solid;
  border-color: transparent white transparent transparent;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.card .btnAgregar:hover {
  cursor: pointer;
}
.card .btnAgregar:hover::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}
.card .btnAgregar:focus-visible::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}
.card .btnAgregar > .plusIcon {
  fill: white;
  width: calc(var(--plus_sideLength) * 0.7);
  height: calc(var(--plus_sideLength) * 0.7);
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.card .btnAgregar:hover > .plusIcon {
  fill: black;
  transform: rotate(180deg);
}
.card .btnAgregar:focus-visible > .plusIcon {
  fill: black;
  transform: rotate(180deg);
}
.card .btnAgregar {
  background-color: darkgoldenrod;
}
.card .btnAgregar:active {
  transform: translateY(3px);
}

body {
  background-color: #660c33;
  color: beige;
  font-family: "Nunito", sans-serif;
  margin: 10px 5px 0px 5px;
}

a {
  font-family: "Nunito", sans-serif;
  color: beige;
}

p {
  font-family: "Nunito", sans-serif;
  color: beige;
}
p p precio {
  color: black;
}

.h1 {
  font-family: "Nunito", sans-serif;
  color: beige;
}

.hall {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.hall .logo__terrua {
  width: 200px;
  height: 200px;
}
.hall #fields-input-year {
  align-items: center;
  padding: 40px;
}

.carousel-inner {
  height: 400px;
  margin: 20px 0px 30px 0px;
}

.boton-whatsapp {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
}

.index__medio {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px 20px 100px;
}
.index__medio .index__medio--iconos {
  width: 35px;
  height: 30px;
}
.index__medio .index__medio--partes {
  text-align: center;
}

.index__imagenes {
  margin: 40px;
  display: flex;
  justify-content: space-between;
}

.index__h {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
  background-color: darkgoldenrod;
}

.boton__ver__productos {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.titulos {
  background-color: darkgoldenrod;
  margin-top: 15px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
}

.subtitulos {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  text-decoration: dotted;
}

.tarjeta__contacto {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.tarjeta__contacto .borde {
  background-color: rgb(46, 16, 46);
  padding: 55px 40px;
  box-shadow: 0 0 20px rgb(152, 137, 137);
  border-radius: 20px;
  text-align: center;
  width: 300px;
}
.tarjeta__contacto .formularios {
  font-family: "Nunito", sans-serif;
  color: beige;
  text-align: center;
}
.tarjeta__contacto .boton__enviar {
  margin-top: 15px;
}

/*# sourceMappingURL=styles.css.map */
