.footer{  
    background-color: darkgoldenrod;
    display: flex;
    .footer__elementos{
    width: 100%;
    display: flex;
    justify-content:space-between;
    text-align: left;
    margin: 50px;
    }
    .footer__elementos--l{
      display: flex;
      flex-direction: column; 
    }
    .ubicacion{
      width: 150px; 
      height: 100px; 
    }
  }
  .hall__footer{
    background-color: rgb(46, 16, 46);
    display:flexbox;
    position: relative;
    text-align: center; 
    align-content: flex-end;           
  }