@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Rubik&display=swap');
/*font-family: 'Nunito', sans-serif; */
body{
  background-color: #660c33 ;
  color: beige;
  font-family: 'Nunito', sans-serif;
  margin: 10px 5px 10px 5px;
}
a{
  font-family: 'Nunito', sans-serif;
  color: beige;
}
p {
  font-family: 'Nunito', sans-serif;
  color: beige;
}
.hall{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  .logo__terrua{
    width: 200px;
    height: 200px;    
    }
  #fields-input-year{
    align-items: center;
    padding: 40px;
    }
  
}  
.card {
    background-color: rgb(46, 16, 46);
    display: flex;
    align-content: end;
    .footer__hall{
      font-size: small;
      text-align: center;
    }
    }
.index__logo{
  width: 200px;
  height: 70px;
} 
.d-flex{
  width: 300px;
  height: 40px;
}   
.nav{
  justify-content: space-between;
  align-items: center; 
  .nav-link{
    font-family: 'Nunito', sans-serif;
    color: beige; 
  }
}
.carousel-inner{
  height: 400px;
}
.whatsapp{
  position: fixed;
  display: flex;
  justify-content: right;
}